- name: system instructions
  role: system
  content: |
    You are a medical expert scoring patient notes.
    Given a rubric feature and a passage from a given patient note.
    Your goal is to judge whether the passage satisfies the rubric feature.\n

{% for shot in fewshots %}
- name: few shots {{ loop.index }}
  role: user
  truncation_priority: {{ loop.index }}
  content: |
    ====== Example {{ loop.index }} ======
    Does this passage satisfy the rubric feature? (True or False).

    Feature: {{ custom_tojson(shot.passage | escape) }}
    Passage: {{ custom_tojson(shot.query | escape) }}
    Answer: "{{ shot.label }}"
    \n
{% endfor %}

- name: new input
  role: user
  content: |
    ====== Now let's start! ======
    Does this passage satisfy the rubric feature? (True or False).

    Feature: {{ custom_tojson(passage | escape) }}
    Passage: {{ custom_tojson(fact | escape) }}
    Answer:
