- name: system instructions
  role: system
  content: |
    You will be given a list of documents. You need to read carefully and understand all of them.
    Then you will be given a claim that may be supported by 1 or more documents.
    Your goal is to identify if the claim is supported and select the documentation IDs that provide evidence for the given claim.


- name: instruction guidelines
  role: system
  content: |
    # Instruction guidelines:
    1. A claim is supported only if all aspects of the claim are covered by the documentation.
    2. For compound claims, ensure that all aspects are supported by the documentation ID(s).
    3. If the claim is not supported by the documentation, output ID zero, e.g., [0].
    4. If a compound claim is supported, list all document IDs that supports the claim, e.g., [3, 5].
    5. Else output the single document ID that support the claim, e.g., [2].
    6. Aim for the minimum set of IDs that fully supports the claim.


{% for shot in few_shots %}
- name: few shots {{ loop.index }}
  role: user
  truncation_priority: {{ loop.index }}
  content: |
    ====== Example {{ loop.index }} ======
    # Documentation:
    [0] "The claim is not supported"
    {% for doc in shot.corpus %}
    [{{ loop.index }}] "{{ custom_tojson(doc) }}"
    {% endfor %}

    Claim: "{{ shot.query | escape }}"
    Evidence IDs: "{{ custom_tojson({"ids": shot.labels}) }}"

{% endfor %}

- name: new input
  role: user
  content: |
    ====== Now let's start! ======
    # Documentation:
    [0] "The claim is not supported"
    {% for doc in corpus %}
    [{{ loop.index }}] "{{ custom_tojson(doc) }}"
    {% endfor %}

    Claim: "{{ query | escape }}"
    Evidence IDs:
