- name: system instructions
  role: system
  content: |
    <s>[INST]You will be given a list of clinical concepts. You need to read carefully and understand all of them. 
    Then you will be given a text that may express 1 or more clinical concepts. 
    Your goal is to identify if a clinical concept is referenced and select the concept IDs that is expressed in the given text.\n

- name: corpus
  role: user
  content: |
    ====== Clinical Concepts ======
    ID: 0 | Content: "None" | ID END: 0
    {% for doc in corpus %}
    ID: {{ loop.index }} | Concept: {{ custom_tojson(doc) }} | ID END: {{ loop.index }}
    {% endfor %}\n
    
{% for shot in fewshots %}
- name: few shots {{ loop.index }}
  role: user
  truncation_priority: {{ loop.index }}
  content: |
    ====== Example {{ loop.index }} ======
    Which clinical concepts are expressed in the text? Use ID 0 if none is expressed. Output the selected concept IDs as a comma-separated list.

    Text: "{{ custom_tojson(shot.query | escape) }}"
    Answer: "{{ custom_tojson({"ids": shot.labels}) }}"\n
{% endfor %}
   
- name: new input
  role: user
  content: |
    ====== Now let's start! ======
    Which clinical concepts are expressed in the text? Use ID 0 if none is expressed. Output the selected concept IDs as a comma-separated list.

    Text: {{ custom_tojson(query | escape) }}[\INST]
    Answer: